[buildout]
extensions = buildout.bootstrap
develop = .
parts = test rsync

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.rsync [tests]

[rsync]
recipe = collective.recipe.rsync
source = README.txt
target = README_COPY.txt
