[buildout]
extensions = buildout.bootstrap
develop = .
parts = 
    test
    rsync

[test]
recipe = zc.recipe.testrunner
eggs = collective.recipe.rsync [tests]

[rsync]
recipe = collective.recipe.rsync
source = sample_input.txt
target = sample_input_copy.txt
#port = 22001
script = true
